@page
@model LoginModel

@{
    ViewData["Title"] = "ログイン";
}
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-5">
        <section>
            <form id="account" method="post">
                <h2>代理店ログイン</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-1">
                    <div class="col-4">
                        <span class="form-control-plaintext">担当者コード：</span>
                    </div>
                    <div class="col-7">
                        <input asp-for="Input.employee_code" class="form-control mr-2">
                        <span asp-validation-for="Input.employee_code" class="text-danger"></span>
                    </div>
                </div>
                <br>
                <div class="row g-1">
                    <div class="col-4">
                        <span class="form-control-plaintext">パスワード：</span>
                    </div>
                    <div class="col-7">
                        <input asp-for="Input.Password" class="form-control mr-2">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <br>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">ログイン</button>
                </div>
            </form>
                <br>
                <div class="row">
                    <form class="col-6" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" method="get">
                        <button id="pass-change-submit" type="submit" class="w-100 btn btn-lg btn-primary">パスワードの変更</button>
                    </form>
                    <form class="col-6">
                        <button id="close-submit" type="submit" class="w-100 btn btn-lg btn-primary" onclick="window.close();">閉じる</button>
                    </form>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">新規ユーザー登録</a>
                    </p>
                </div>
            
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
