@page
@model Dairiten.Pages.MoshikominyuryokuModel
@{
    ViewData["Title"] = "申込入力";
}

<div class="container">
    <div class="text-start">
        <h4 class="" style="background:#DCDCDC">申込入力</h4>
    </div>
</div>