@page
@model Dairiten.Pages.MoshikomikensakuModel
@{
    ViewData["Title"] = "申込検索";
}

<div class="text-start">
    <h4 class="" style="background:#DCDCDC">申込検索</h4>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Moshikomikensaku">検索条件</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-area="" asp-page="/Keiyakukensaku">検索結果</a>
  </li>
</ul>

<div class="text-center">
    <p>ここは検索条件ページです。</p>
</div>
