@page
@model Dairiten.Pages.MoshikomikensakuModel
@{
    ViewData["Title"] = "申込検索";
}

<div class="container-fluid g-1">
    <div class="text-start">
        <h4 class="" style="background:#DCDCDC">申込検索</h4>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Moshikomikensaku">検索条件</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/MoshikomikensakuKekka">検索結果</a>
      </li>
    </ul>
    <br>
    <div class="komoku1 text-white mb-1">代理店コード</div>
    <div class="atai1 mb-1"></div>
    <div class="row g-0">
        <div class="col-md-6">
            <div class="komoku1 text-white mb-1">有効状態</div>
            <div class="atai2 mb-1">
                <div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Small button
                  </button>
                  <ul class="dropdown-menu">
                    ...
                  </ul>
                </div>
            </div>
            <div class="komoku1 text-white mb-1">成立状況</div>
            <div class="atai2 mb-1"></div>
            <div class="komoku1 text-white mb-1">入力者区分</div>
            <div class="atai2 mb-1"></div>
            <div class="komoku1 text-white mb-1">商品区分</div>
            <div class="atai2 mb-1"></div>
        </div>
        <div class="col-md-6">
            <div class="komoku2 text-white mb-1">契約者名</div>
            <div class="komoku3 text-white mb-1">カナ</div>
            <div class="atai2 mb-1">
                <div class="row mb-3">
                  <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" id="KeiyakushameiKana">
                  </div>
                  <label for="KeiyakushameiKana" class="col-sm-3 col-form-label col-form-label-sm" style="color:red">(半角カナ)</label>
                </div>
            </div>
            <div class="komoku3 text-white mb-1">漢字</div>
            <div class="atai2 mb-1">
                <div class="row mb-3">
                  <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" id="Keiyakushamei">
                  </div>
                  <label for="Keiyakushamei" class="col-sm-3 col-form-label col-form-label-sm" style="color:red">(全角)</label>
                </div>
            </div>
            <div class="komoku2 text-white mb-1">被保険者名</div>
            <div class="komoku3 text-white mb-1">カナ</div>
            <div class="atai2 mb-1"></div>
            <div class="komoku3 text-white mb-1">漢字</div>
            <div class="atai2 mb-1"></div>
        </div>
    </div>
</div>
