@page
@model Dairiten.Pages.Keiyaku_KjModel
@{
    ViewData["Title"] = "契約検索";
}

<div class="container-fluid g-1">
    <div class="text-start">
        <h4 class="" style="background:#DCDCDC">契約検索</h4>
    </div>
</div>