<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dairiten</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dairiten.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ハトネッツ少額短期保険準備株式会社</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row h-100">
			<div class="col-2" style="background:#66CDAA">
                <details>
                    <summary>契約管理</summary>
                    <p>
                    <a href="#" style="text-decoration:none;">　申込入力</a>
				    <br/>
				    <a href="#" style="text-decoration:none;">　申込検索</a>
				    <br/>
				    <a href="#" style="text-decoration:none;">　契約検索</a>
				    <br/>
				    <a href="#" style="text-decoration:none;">　名寄せリスト</a>
				    <br/>
                    <a href="#" style="text-decoration:none;">　申込書送付一覧</a>
				    <br/>
                    </p>
                </details>
				<details>
                    <summary>更新管理</summary>
                    <p>
                    <a href="#" style="text-decoration:none;">　更新対象一覧</a>
				    <br/>
                    </p>
                </details>
                <details>
                    <summary>精算管理</summary>
                    <p>
                    <a href="#" style="text-decoration:none;">　日次集計表</a>
				    <br/>
                    </p>
                </details>
                <details>
                    <summary>物件管理</summary>
                    <p>
                    <a href="#" style="text-decoration:none;">　物件情報取込</a>
				    <br/>
                    <a href="#" style="text-decoration:none;">　物件情報検索</a>
				    <br/>
                    </p>
                </details>
                <br/>
                <br/>
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">問合せ先<br/>　事務センター</div>
                  <div class="card-body text-secondary">
                    <p class="card-title">フリーダイヤル</p>
                    <p class="card-text">0120-xxxx-xx</p>
                  </div>
                </div>
			</div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SakumaTest - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>